@import "../../styles/_variables.scss";

.landing {
    color: $white;
  
    .overlay {
      z-index: 10;
      background: rgba(0,0,0,0.5);
    }
  
    .landingContainer {
      z-index: 20;
    }
}

.sidebar {
    width: 10%;
    .nav-link {
        //color: $primary-text-color;
        &:hover {
            color: $primary-color;
        }
    }
}

.topbar {
    background-color: $primary-color;
    color: $white;
    z-index: 2000;
    height: 75px;
}