$primary-color-dark:   #FFA000;
$primary-color:        #FFC107;
$primary-color-light:  #FFECB3;
$primary-color-text:   #212121;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

// bootstrap overrides
$primary: $primary-color;
$secondary: $accent-color;

$white: #FFFFFF;

$background-color: #F1F4F6;