// $primary-color-dark: #096484;
// $primary-color: #53accc;
// $primary-color-light: #ffe0b2;
// $primary-color-text: #212121;
// $accent-color: #1e2a2a;
// $accent-color-dark: #0f1616;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

// bootstrap overrides
$primary: #142654;
$secondary: #ed1c24;

$white: #ffffff;

$background-color: #f1f4f6;
