$primary-color-dark:   #689F38;
$primary-color:        #8BC34A;
$primary-color-light:  #DCEDC8;
//$primary-color-text:   #212121;
$accent-color:         #448AFF;
//$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

// bootstrap overrides
$primary: $primary-color;
$secondary: $accent-color;

$white: #FFFFFF;

$background-color: #F1F4F6;