@import '_variables.scss';

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  min-height: 100vh;
  font-family: 'Source Sans Pro';
}

.skuld-height {
  min-height: calc(100vh - 62px);
}

.presentation {
  .overlay {
    z-index: 10;
    background-color: transparentize($primary, 0.1);
  }

  .presentation-container {
    z-index: 20;
  }
}

.big-loading {
  width: 10rem;
  height: 10rem;
}
